.tblMGUCod {
  width: 8rem;
  font: 12px BalooBhaina2-SemiBold;
}
.tblMGUPermissao {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 20rem;
  font: 12px BalooBhaina2-SemiBold;
}
.btnMGUPermissoes {
  background-color: transparent;
  border: none;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 2rem;
  font: 12px BalooBhaina2-SemiBold;
}
.tblMGUUserGroup {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80rem;
  font: 12px BalooBhaina2-SemiBold;
}
.MGUStatus {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 15rem;
  font: 12px BalooBhaina2-SemiBold;
}
@media screen and (max-width: 820px) {
  .tblMGUCod {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 8rem;
  }
  .tblMGUPermissao {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 16rem;
  }
  .btnMGUPermissoes {
    background-color: transparent;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .tblMGUUserGroup {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80rem;
  }
  .MGUStatus {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 15rem;
  }
}
@media screen and (max-width: 620px) {
  .tblMGUCod {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 8rem;
  }
  .tblMGUPermissao {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 16rem;
  }
  .btnMGUPermissoes {
    background-color: transparent;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .tblMGUUserGroup {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80rem;
  }
  .MGUStatus {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 15rem;
  }
}
