/*------------Conteudo da tabela Empresa------------*/
.tblSubEmpresaCod {
  padding-left: 2%;
}
.tblSubEmpresaEmpresa {
  padding-left: 5%;
}
.tblSubEmpresaAtivo {
  padding-left: 1%;
}
.btnSubEmpresaCod {
  width: 5rem;
}
.btnSubEmpresaOBS {
  width: 60rem;
  padding-right: 55%;
}
.btnSubEmpresaAtivo {
  width: 4rem;
}
/*------------Modal da tabela Empresa------------*/
