/*------------Cabeçalho da tabela Empresa------------*/
.tblSubEmpresaCod {
  position: absolute;
  top: 5%;
  left: 3%;
}
.tblSubEmpresaEmpresa {
  position: absolute;
  top: 5%;
  left: 15%;
}
.tblSubEmpresaAtivo {
  position: absolute;
  top: 5%;
  left: 90%;
}
/*------------Conteudo da tabela Empresa------------*/
.btnSubEmpresaCod {
  width: 10rem;
  height: 30px;
}
.btnSubEmpresaOBS {
  width: 60rem;
  padding-right: 55%;
  height: 30px;
}
.btnSubEmpresaAtivo {
  width: 10rem;
  height: 30px;
}
/*------------Modal da tabela Empresa------------*/

@media screen and (max-width: 820px) {
  /*------------Cabeçalho da tabela Empresa------------*/
  .tblSubEmpresaCod {
    position: absolute;
    top: 2%;
    left: 3%;
  }
  .tblSubEmpresaEmpresa {
    position: absolute;
    top: 2%;
    left: 18%;
  }
  .tblSubEmpresaAtivo {
    position: absolute;
    top: 2%;
    left: 90%;
  }
  /*------------Conteudo da tabela Empresa------------*/
  .btnSubEmpresaCod {
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    font: 12px BalooBhaina2-SemiBold;
    width: 10rem;
  }
  .btnSubEmpresaOBS {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    width: 60rem;
    font: 12px BalooBhaina2-SemiBold;
  }
  .btnSubEmpresaAtivo {
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    color: #11806a;
    font: 12px BalooBhaina2-SemiBold;
    width: 10rem;
  }
}

@media screen and (max-width: 500px) {
  /*------------Cabeçalho da tabela Empresa------------*/
  .tblSubEmpresaCod {
    position: absolute;
    top: 2%;
    left: 3%;
  }
  .tblSubEmpresaEmpresa {
    position: absolute;
    top: 2%;
    left: 18%;
  }
  .tblSubEmpresaAtivo {
    position: absolute;
    top: 2%;
    left: 90%;
  }
  /*------------Conteudo da tabela Empresa------------*/
  .btnSubEmpresaCod {
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    width: 10rem;
  }
  .btnSubEmpresaOBS {
    padding-top: 1%;
    padding-bottom: 1%;
    width: 60rem;
  }
  .btnSubEmpresaAtivo {
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    color: #11806a;
    width: 10rem;
  }
}
