.ModalObsUnidades,
.overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 98;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}
.titleObsUnidade {
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: -2rem;
  font: 26px BalooBhaina2-Bold;
  color: #1c396b;
}

.ModalObsUnidades-content {
  position: fixed;
  top: 14%;
  left: 10%;
  line-height: 1.4;
  background: #f1f1f1;
  width: 80%;
  height: 70%;
  border-radius: 25px;
  z-index: 99;
}

.close-ModalObsUnidades {
  position: absolute;
  top: 3%;
  right: 3.5%;
  border-style: none;
  font: 20px BalooBhaina2-Medium;
  color: #a0a0a0;
  cursor: pointer;
  background-color: transparent;
}

.fListObserv {
  position: absolute;
  left: 80%;
  top: 14%;
  padding-left: 10px;
  background-color: rgb(201, 201, 201);
  font: 12px BalooBhaina2-Medium;
  border: none;
  align-items: center;
  color: rgb(41, 41, 41);
  border-radius: 5px;
  width: 15%;
  height: 6%;
  z-index: 1;
}

/* ------------tabela modal de observaçoes realizadas / pagina relatorio----------------------- */
.tabelaRegistro {
  position: absolute;
  top: 30%;
  left: 5%;
  width: 90%;
  height: 50%;
  background-color: white;
  border-radius: 0;
  z-index: 5;
}

.containerObsReal {
  overflow-x: hidden;
  margin-left: -1px;
  border: 1px solid;
  width: 100.2%;
  height: 18rem;
  padding-right: 5px;
  background-color: #fff;
}
.containerObsReal::-webkit-scrollbar {
  width: 6px;
  background-color: rgb(219, 219, 219);
  border-radius: 8px;
  /* rgb(219, 219, 219); */
  /* border-radius: 10px; */
}
.HeaderContent {
  position: relative;
  border: 1px solid #000;
  top: -2rem;
  width: 100%;
  height: 10%;
  background: #1c396b;
  border-radius: 0px;
}

.tblObsUniObservador {
  position: absolute;
  top: 20%;
  left: 1%;
}
.tblObsUniLocal {
  position: absolute;
  top: 20%;
  left: 20%;
}
.tblObsUniGerência {
  position: absolute;
  top: 20%;
  left: 35%;
}
.tblObsUniEquipe {
  position: absolute;
  top: 20%;
  left: 51%;
}
.tblObsUniAtividade {
  position: absolute;
  top: 20%;
  left: 65%;
}
.tblObsUniData {
  position: absolute;
  top: 20%;
  left: 81%;
}
.tblObsUniIcs {
  position: absolute;
  top: 20%;
  left: 89%;
}
.tblObsUniDetalhes {
  position: absolute;
  top: 20%;
  left: 93%;
}
/* ------------------conteúdo da tabela---------------- */
.btnObsObservador {
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 35rem;
  font-size: clamp(0.1em, 0.1em + 0.9vw, 0.9em);
  font-family: BalooBhaina2-Medium;
}
.btnObsUniLocal {
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 25rem;
  font-size: clamp(0.1em, 0.1em + 0.9vw, 0.9em);
  font-family: BalooBhaina2-Medium;
}
.btnObsUniEquipe {
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 25rem;
  font-size: clamp(0.1em, 0.1em + 0.9vw, 0.9em);
  font-family: BalooBhaina2-Medium;
}
.btnObsUniAtividade {
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 25rem;
  font-size: clamp(0.1em, 0.1em + 0.9vw, 0.9em);
  font-family: BalooBhaina2-Medium;
}
.btnObsUniData {
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 10rem;
  font-size: clamp(0.1em, 0.1em + 0.9vw, 0.9em);
  font-family: BalooBhaina2-Medium;
}

.btnObsUniIcs {
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 10rem;
  font-size: clamp(0.1em, 0.1em + 0.9vw, 0.9em);
  font-family: BalooBhaina2-Medium;
}
.btnObsUniDetalhes {
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 12rem;
  font-size: clamp(0.1em, 0.1em + 0.9vw, 0.9em);
  font-family: BalooBhaina2-Medium;
}

.verifObserv1 {
  color: #35c2aa;
  top: 2%;
  background-color: transparent;
  border-style: none;
  font-size: clamp(1em, 1em + 2vw, 1.5em);
}
.verifObserv2 {
  color: #1c396b;
  top: 2%;
  background-color: transparent;
  border-style: none;
  font-size: clamp(1em, 1em + 2vw, 1.5em);
}
@media screen and (max-width: 820px) {
  .fListObserv {
    position: absolute;
    left: 60%;
    top: 14%;
    padding-left: 10px;
    background-color: rgb(201, 201, 201);
    font: 12px BalooBhaina2-Medium;
    border: none;
    align-items: center;
    color: rgb(41, 41, 41);
    border-radius: 5px;
    width: 30%;
    height: 6%;
    z-index: 1;
  }
}
