body.active-modalNovaQuestão {
  overflow-y: hidden;
}

.modalNovaQuestão,
.overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 99;
}

.overlay {
  background: rgba(49, 49, 49, 0.925);
}

.modalNovaQuestão-content {
  position: fixed;
  top: 25%;
  left: 25%;
  background: #f1f1f1;
  width: 50%;
  height: 40%;
  border-radius: 20px;
  z-index: 99;
}
.NQCod {
  position: absolute;
  left: 5%;
  top: 28%;
  border-radius: 5px;
  width: 8%;
  height: 10%;
  justify-content: center;
  text-align: center;
  font-size: clamp(0.01em, 0.01em + 1.2vw, 4em);
  border: none;
  background-color: rgb(190, 190, 190);
  color: #1c396b;
  font-family: BalooBhaina2-SemiBold;
}
.NQDescricao {
  position: absolute;
  left: 15%;
  top: 28%;
  border-radius: 5px;
  width: 70%;
  height: 10%;
  justify-content: center;
  font-size: clamp(0.01em, 0.01em + 1.2vw, 4em);
  border: none;
  background-color: rgb(190, 190, 190);
  color: #1c396b;
  font-family: BalooBhaina2-SemiBold;
  padding-left: 2%;
}
.NQPontos {
  position: absolute;
  left: 87%;
  top: 28%;
  border-radius: 5px;
  width: 8%;
  height: 10%;
  justify-content: center;
  text-align: center;
  font-size: clamp(0.01em, 0.01em + 1.2vw, 4em);
  border: none;
  background-color: rgb(190, 190, 190);
  color: #1c396b;
  font-family: BalooBhaina2-SemiBold;
}
.NQOBservacao {
  position: absolute;
  left: 5%;
  top: 45%;
  border-radius: 5px;
  width: 90%;
  height: 30%;
  justify-content: center;
  font-size: clamp(0.01em, 0.01em + 1.2vw, 4em);
  border: none;
  background-color: rgb(190, 190, 190);
  color: #1c396b;
  font-family: BalooBhaina2-SemiBold;
  text-align: left;
  padding-left: 1%;
}
