/*-------------Conteudo da tabela-----------------*/
.tblCodActive {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 20rem;
}
.SubMTACod {
  background-color: transparent;
  font-family: BalooBhaina2-SemiBold;
  font-size: clamp(0.1em, 0.1em + 1vw, 1em);
  border: none;
  cursor: pointer;
}
.tblActive {
  padding: 1%;
  font-family: BalooBhaina2-SemiBold;
  font-size: clamp(0.1em, 0.1em + 1vw, 1em);
  width: 20rem;
}
.tblStatusActive {
  padding: 1%;
  padding-left: 3%;
  width: 60rem;
  font-family: BalooBhaina2-Medium;
  font-size: clamp(0.1em, 0.1em + 1vw, 1em);
}

/*------------------------------------------------------------------------------------------*/

@media screen and (max-width: 500px) {
  .tblcod {
    top: 2%;
    position: absolute;
    left: 5%;
  }
  .tblobservador {
    top: 2%;
    position: absolute;
    left: 15%;
  }
  .tbtlogin {
    top: 2%;
    position: absolute;
    left: 50%;
  }
  .tblfuncao {
    top: 2%;
    position: absolute;
    left: 76%;
  }

  .tblmetas {
    top: 2%;
    position: absolute;
    left: 90%;
  }
}
