.btnCodActive {
  padding-left: 1%;
}
.btnActive {
  padding-left: 1%;
}
.btnStatusActive {
  padding-left: 2%;
}
/*-------------Conteudo da tabela-----------------*/
.tblCodActive {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 20rem;
}
.SubMTACod {
  background-color: transparent;
  font-family: BalooBhaina2-SemiBold;
  font-size: 12px;
  border: none;
  cursor: pointer;
}
.tblActive {
  padding: 1%;
  font-family: BalooBhaina2-SemiBold;
  font-size: 12px;
  width: 20rem;
}
.tblStatusActive {
  padding: 1%;
  padding-left: 3%;
  width: 60rem;
  font-family: BalooBhaina2-Medium;
  font-size: 12px;
}

/*------------------------------------------------------------------------------------------*/

@media screen and (max-width: 500px) {
  .tblCodActive {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 20rem;
    font-size: 10px;
  }
  .SubMTACod {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 10px;
  }
  .tblActive {
    padding: 1%;
    font-size: 12px;
    width: 20rem;
  }
  .tblStatusActive {
    padding: 1%;
    padding-left: 3%;
    width: 60rem;
    font-size: 10px;
  }
}
