body.active-ModalNovoGrupo {
  overflow-y: hidden;
}

.textActiveDesc {
  position: absolute;
  left: 5%;
  top: 26%;
  border-radius: 5px;
  width: 90%;
  height: 8%;
  justify-content: center;
  border: none;
  background-color: rgb(190, 190, 190);
  color: #1c396b;
  font-family: BalooBhaina2-SemiBold;
  font-size: 12px;
  padding-top: 0.5%;
  padding-left: 1%;
}
.textActivePeso {
  position: absolute;
  left: 5%;
  top: 36%;
  border-radius: 5px;
  width: 20%;
  height: 8%;
  justify-content: center;
  border: none;
  background-color: rgb(190, 190, 190);
  color: #1c396b;
  font-family: BalooBhaina2-SemiBold;
  font-size: 12px;
  text-align: left;
  padding-top: 0.5%;
  padding-left: 1%;
}
.textActiveObs {
  position: absolute;
  left: 5%;
  top: 46%;
  border-radius: 5px;
  width: 90%;
  height: 30%;
  justify-content: center;
  border: none;
  background-color: rgb(190, 190, 190);
  color: #1c396b;
  font-family: BalooBhaina2-SemiBold;
  font-size: 12px;
  text-align: left;
  padding-top: 0.5%;
  padding-left: 1%;
}
.textActiveObs::-webkit-input-placeholder {
  color: #1c396b;
}
@media screen and (max-width: 620px) {
  .textActiveDesc {
    position: absolute;
    left: 5%;
    top: 26%;
    border-radius: 5px;
    width: 90%;
    height: 20px;
    justify-content: center;
    border: none;
    background-color: rgb(190, 190, 190);
    color: rgb(94, 94, 94);
    font-family: BalooBhaina2-SemiBold;
    font-size: 12px;
    padding-top: 0.5%;
    padding-left: 1%;
  }
  .textActivePeso {
    position: absolute;
    left: 5%;
    top: 36%;
    border-radius: 5px;
    width: 20%;
    height: 20px;
    justify-content: center;
    border: none;
    background-color: rgb(190, 190, 190);
    color: rgb(94, 94, 94);
    font-family: BalooBhaina2-SemiBold;
    font-size: 12px;
    text-align: left;
    padding-top: 0.5%;
    padding-left: 1%;
  }
  .textActiveObs {
    position: absolute;
    left: 5%;
    top: 46%;
    border-radius: 5px;
    width: 90%;
    height: 70px;
    justify-content: center;
    border: none;
    background-color: rgb(190, 190, 190);
    color: rgb(94, 94, 94);
    font-family: BalooBhaina2-SemiBold;
    font-size: 12px;
    text-align: left;
    padding-top: 0.5%;
    padding-left: 1%;
  }
}
