body.active-ModalNovoGrupo {
  overflow-y: hidden;
}

.textActiveDesc {
  position: absolute;
  left: 5%;
  top: 26%;
  border-radius: 5px;
  width: 90%;
  height: 8%;
  justify-content: center;
  font-size: clamp(0.01em, 0.01em + 1vw, 4em);
  border: none;
  background-color: rgb(190, 190, 190);
  color: rgb(94, 94, 94);
  font-family: 'Baloo Bhaina 2', cursive;
  font-weight: 600;
  padding-top: 0.5%;
  padding-left: 1%;
}
.textActivePeso {
  position: absolute;
  left: 5%;
  top: 36%;
  border-radius: 5px;
  width: 20%;
  height: 8%;
  justify-content: center;
  font-size: clamp(0.01em, 0.01em + 1vw, 4em);
  border: none;
  background-color: rgb(190, 190, 190);
  color: rgb(94, 94, 94);
  font-family: 'Baloo Bhaina 2', cursive;
  font-weight: 600;
  text-align: left;
  padding-top: 0.5%;
  padding-left: 1%;
}
.textActiveObs {
  position: absolute;
  left: 5%;
  top: 46%;
  border-radius: 5px;
  width: 90%;
  height: 30%;
  justify-content: center;
  font-size: clamp(0.01em, 0.01em + 1vw, 4em);
  border: none;
  background-color: rgb(190, 190, 190);
  color: rgb(94, 94, 94);
  font-family: 'Baloo Bhaina 2', cursive;
  font-weight: 600;
  text-align: left;
  padding-top: 0.5%;
  padding-left: 1%;
}

@media screen and (max-width: 500px) {
  .ModalNovoGrupo,
  .overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 2;
  }
  .ModalNovoGrupo-content {
    position: absolute;
    top: 20%;
    left: 25%;
    background: #f1f1f1;
    width: 50%;
    height: 50%;
    border-radius: 20px;
    z-index: 99;
  }
}
