/* ============================================tela unidade======================================================== */
.tblCodUni {
  position: absolute;
  top: 3%;
  left: 2%;
  font: 26px BalooBhaina2-SemiBold;
}
.tblUni {
  position: absolute;
  top: 3%;
  left: 12%;
  font: 26px BalooBhaina2-SemiBold;
}
.tblStatusUnidades {
  position: absolute;
  top: 3px;
  text-align: center;
  left: 90%;
  font: 26px BalooBhaina2-SemiBold;
}

.btnCod {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 3%;
  width: 10rem;
  font: 12px BalooBhaina2-SemiBold;
}
.btnUni {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  width: 80rem;
  font: 12px BalooBhaina2-SemiBold;
}
.btnStatusUnidades {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 4%;
  width: 10rem;
  font: 12px BalooBhaina2-SemiBold;
}
/* =======================================Fim da tela unidade===================== */
/* =======================================tabela Pessoas========================== */

.ttlPessoacod {
  position: absolute;
  font-size: clamp(0.1em, 0.1em + 1vw, 2em);
  top: 5%;
  left: clamp(0.1em, 0.1em + 2vw, 2em);
}
.ttlPessoaObservador {
  position: absolute;
  font-size: clamp(0.1em, 0.1em + 1vw, 2em);
  top: 5%;
  left: clamp(0.1em, 0.1em + 8vw, 8em);
}
.tttPessoalogin {
  position: absolute;
  font-size: clamp(0.1em, 0.1em + 1vw, 2em);
  top: 5%;
  left: clamp(0.1em, 0.1em + 20vw, 20em);
}
.ttlPessoaFuncao {
  position: absolute;
  font-size: clamp(0.1em, 0.1em + 1vw, 2em);
  top: 5%;
  left: clamp(0.1em, 0.1em + 33vw, 33em);
}
.ttlPessoaMetas {
  position: absolute;
  font-size: clamp(0.1em, 0.1em + 1vw, 2em);
  top: 5%;
  left: clamp(0.1em, 0.1em + 44vw, 44em);
}
.tblPesCod {
  justify-content: center;
  text-align: center;
  width: clamp(0.1em, 0.1em + 18vw, 18em);
  font: clamp(0.01em, 0.01em + 1vw, 1em) BalooBhaina2-SemiBold;
}
.tblPesOBS {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  width: 20rem;

  font: clamp(0.01em, 0.01em + 1vw, 1em) BalooBhaina2-SemiBold;
}
.tblPesMail {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  width: 20rem;
  font: clamp(0.01em, 0.01em + 1vw, 1em) BalooBhaina2-SemiBold;
}
.tblPesFunc {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  width: 20rem;
  font: clamp(0.01em, 0.01em + 1vw, 1em) BalooBhaina2-SemiBold;
}
.tblPesMetas {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 5%;
  width: 10rem;
  font: clamp(0.01em, 0.01em + 1vw, 1em) BalooBhaina2-SemiBold;
}
.action {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0%;
  background-color: transparent;
  border: none;
}
@media screen and (max-width: 820px) {
  .ttlPessoacod {
    position: absolute;
    font-size: clamp(0.1em, 0.1em + 4vw, 4em);
    top: 5%;
    left: clamp(0.1em, 0.1em + 1vw, 1em);
  }
  .ttlPessoaObservador {
    position: absolute;
    font-size: clamp(0.1em, 0.1em + 4vw, 4em);
    top: 5%;
    left: clamp(0.1em, 0.1em + 6vw, 6em);
  }
  .tttPessoalogin {
    position: absolute;
    font-size: clamp(0.1em, 0.1em + 4vw, 4em);
    top: 5%;
    left: clamp(0.1em, 0.1em + 23vw, 23em);
  }
  .ttlPessoaFuncao {
    position: absolute;
    font-size: clamp(0.1em, 0.1em + 4vw, 4em);
    top: 5%;
    left: clamp(0.1em, 0.1em + 43vw, 43em);
  }
  .ttlPessoaMetas {
    position: absolute;
    font-size: clamp(0.1em, 0.1em + 4vw, 4em);
    top: 5%;
    left: clamp(0.1em, 0.1em + 59vw, 59em);
  }
  .tblPesCod {
    justify-content: center;
    text-align: center;
    width: clamp(0.1em, 0.1em + 35vw, 35em);
    font: clamp(0.1em, 0.1em + 1.2vw, 1.2em) BalooBhaina2-SemiBold;
  }
  .tblPesOBS {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    width: clamp(0.1em, 0.1em + 100vw, 100em);
    font: clamp(0.1em, 0.1em + 1.2vw, 1.2em) BalooBhaina2-SemiBold;
  }
  .tblPesMail {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    width: clamp(0.1em, 0.1em + 100vw, 100em);
    font: clamp(0.1em, 0.1em + 1.2vw, 1.2em) BalooBhaina2-SemiBold;
  }
  .tblPesFunc {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    width: clamp(0.1em, 0.1em + 100vw, 100em);
    font: clamp(0.1em, 0.1em + 1.2vw, 1.2em) BalooBhaina2-SemiBold;
  }
  .tblPesMetas {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    width: clamp(0.1em, 0.1em + 60vw, 60em);
    font: clamp(0.1em, 0.1em + 1.2vw, 1.2em) BalooBhaina2-SemiBold;
  }
  .action {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0%;
    background-color: transparent;
    border: none;
  }
}
@media screen and (max-width: 620px) {
  .ttlPessoacod {
    position: absolute;
    font-size: clamp(0.1em, 0.1em + 8vw, 8em);
    top: 5% BalooBhaina2-Regular;
    left: clamp(0.1em, 0.1em + 1vw, 1em);
  }
  .ttlPessoaObservador {
    position: absolute;
    font-size: clamp(0.1em, 0.1em + 8vw, 8em);
    top: 5%;
    left: clamp(0.1em, 0.1em + 8vw, 8em);
  }
  .tttPessoalogin {
    position: absolute;
    font-size: clamp(0.1em, 0.1em + 8vw, 8em);
    top: 5%;
    left: clamp(0.1em, 0.1em + 31vw, 31em);
  }
  .ttlPessoaFuncao {
    position: absolute;
    font-size: clamp(0.1em, 0.1em + 8vw, 8em);
    top: 5%;
    left: clamp(0.1em, 0.1em + 59vw, 59em);
  }
  .ttlPessoaMetas {
    position: absolute;
    font-size: clamp(0.1em, 0.1em + 8vw, 8em);
    top: 5%;
    left: clamp(0.1em, 0.1em + 81vw, 81em);
  }
  .tblPesCod {
    justify-content: center;
    text-align: center;
    width: clamp(0.1em, 0.1em + 35vw, 35em);
    font: clamp(0.1em, 0.1em + 1.8vw, 1.8em) BalooBhaina2-SemiBold;
  }
  .tblPesOBS {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    width: clamp(0.1em, 0.1em + 100vw, 100em);
    font: clamp(0.1em, 0.1em + 1.8vw, 1.8em) BalooBhaina2-SemiBold;
  }
  .tblPesMail {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    width: clamp(0.1em, 0.1em + 100vw, 100em);
    font: clamp(0.1em, 0.1em + 1.8vw, 1.8em) BalooBhaina2-SemiBold;
  }
  .tblPesFunc {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    width: clamp(0.1em, 0.1em + 100vw, 100em);
    font: clamp(0.1em, 0.1em + 1.8vw, 1.8em) BalooBhaina2-SemiBold;
  }
  .tblPesMetas {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    width: clamp(0.1em, 0.1em + 60vw, 60em);
    font: clamp(0.1em, 0.1em + 1.8vw, 1.8em) BalooBhaina2-SemiBold;
  }
  .action {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0%;
    background-color: transparent;
    border: none;
  }
}
/* =======================================Fim da tabela Pessoas=================== */
/* ==========================================tabela Equipes======================= */
.tblTtlcodEquipe {
  position: absolute;
  display: flex;
  top: 1%;
  left: 2%;
}
.tblTtlequipDesc {
  position: absolute;
  display: flex;
  top: 1%;
  left: 12%;
}
.tblTtlEquipGer {
  position: absolute;
  top: 1%;
  left: 38%;
}
.tblTtlEquipCLient {
  position: absolute;
  top: 1%;
  left: 65%;
}
.tblTtlEquipState {
  position: absolute;
  top: 1%;
  left: 92%;
}

.tblEquipesCod {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 3%;
  width: 8rem;
  font: 12px BalooBhaina2-SemiBold;
}
.tblEquipesOBS {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  width: 20rem;
  font: 12px BalooBhaina2-SemiBold;
}
.tblEquipesMail {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  width: 20rem;
  font: 12px BalooBhaina2-SemiBold;
}
.tblEquipesFunc {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  width: 20rem;
  font: 12px BalooBhaina2-SemiBold;
}
.tblEquipesMetas {
  padding-left: 5%;
  width: 9rem;
}
@media screen and (max-width: 1024px) {
  .tblEquipesCod {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 3%;
    width: 8rem;
    font: 22px BalooBhaina2-SemiBold;
  }
  .tblEquipesOBS {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    width: 20rem;
    font: 22px BalooBhaina2-SemiBold;
  }
  .tblEquipesMail {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    width: 20rem;
    font: 22px BalooBhaina2-SemiBold;
  }
  .tblEquipesFunc {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    width: 20rem;
    font: 22px BalooBhaina2-SemiBold;
  }
  .tblEquipesMetas {
    padding-left: 5%;
    width: 9rem;
  }
}
@media screen and (max-width: 780px) {
  .tblEquipesCod {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 3%;
    width: 8rem;
    font: 16px BalooBhaina2-SemiBold;
  }
  .tblEquipesOBS {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    width: 20rem;
    font: 16px BalooBhaina2-SemiBold;
  }
  .tblEquipesMail {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    width: 20rem;
    font: 16px BalooBhaina2-SemiBold;
  }
  .tblEquipesFunc {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    width: 20rem;
    font: 16px BalooBhaina2-SemiBold;
  }
  .tblEquipesMetas {
    padding-left: 5%;
    width: 9rem;
  }
}
@media screen and (max-width: 500px) {
  .tblEquipesCod {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 3%;
    width: 8rem;
    font: 10px BalooBhaina2-SemiBold;
  }
  .tblEquipesOBS {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    width: 20rem;
    font: 10px BalooBhaina2-SemiBold;
  }
  .tblEquipesMail {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    width: 20rem;
    font: 10px BalooBhaina2-SemiBold;
  }
  .tblEquipesFunc {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    width: 20rem;
    font: 10px BalooBhaina2-SemiBold;
  }
  .tblEquipesMetas {
    padding-left: 5%;
    width: 9rem;
  }
}

/* ====================================Fim da tabela Equipes======================= */
/* ==================================== tabela Gerências======================= */
.tblTtlCod {
  position: absolute;
  display: flex;
  top: 1%;
  left: 2%;
}
.tblTtlDescGeren {
  position: absolute;
  display: flex;
  top: 1%;
  left: 12%;
}
.tblTtlUnidGer {
  top: 5%;
  position: absolute;
  left: 52%;
}
.tblTtlStatusGerencia {
  top: 5%;
  position: absolute;
  left: 90%;
}

.tblGerCod {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 3%;
  width: 6rem;
  font: 12px BalooBhaina2-SemiBold;
}
.tblGerDesc {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  width: 25rem;
  font: 12px BalooBhaina2-SemiBold;
}
.tblGerUni {
  padding-bottom: 1%;
  padding-left: 2%;
  width: 25rem;
  font: 12px BalooBhaina2-SemiBold;
}
.tblGerStatus {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 5%;
  width: 8rem;
}

@media screen and (max-width: 500px) {
  .gerenciaRef1 {
    position: absolute;
    width: 100%;
    height: 100%;
    border-style: none;
    font-family: 'baloo bhaina 2';
    font-weight: 600;
    background-color: #1c396b;
    color: #ffffff;
    text-align: center;
    border-radius: 0;
    font-size: clamp(0.1em, 0.1em + 3vw, 3em);
  }

  .tblCod {
    top: 2%;
    width: 5rem;
  }
  .tblDescGeren {
    top: 2%;
    left: 15%;
  }
  .tblUnidGer {
    top: 2%;
    left: 50%;
  }
  .tblStatusGerencia {
    top: 2%;
    left: 85%;
  }

  .gerenciaRef2 {
    position: absolute;
    top: 5%;
    font-family: 'baloo bhaina 2';
    font-weight: 600;
    font-size: clamp(0.1em, 0.1em + 2.2vw, 3em);
    width: 100%;
    border-radius: 10px;
    background-color: white;
    border-style: none;
    border: 1px solid;
  }
}

/* ====================================Fim da tabela Gerências======================= */
/* ====================================tabela atividades======================= */
.btnCodAtivid {
  position: absolute;
  top: 5%;
  left: 4%;
}
.btnAtivid {
  position: absolute;
  top: 5%;
  left: 16%;
}
.btnStatusAtiv {
  position: absolute;
  top: 5%;
  left: 92%;
}
/* 
tr:nth-child(even) {
  background-color: #f2f2f2;
}
.atividadeRef2 :hover {
  background-color: #ddd;
} */

.tblCodAtivid {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 4%;
  width: 10rem;
  font: 12px BalooBhaina2-SemiBold;
}
.tblAtivid {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 5%;
  width: 80rem;
  font: 12px BalooBhaina2-SemiBold;
}
.tblStatusAtivid {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 5%;
  width: 10rem;
}

@media screen and (max-width: 500px) {
  .atividadeRef1 {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    border-style: none;
    font-family: 'baloo bhaina 2';
    font-weight: 600;
    background-color: #1c396b;
    text-align: center;
    border-radius: 0;
    font-size: clamp(0.1em, 0.1em + 2.5vw, 3em);
  }

  .btnCodAtivid {
    top: 2%;
    left: 7%;
  }
  .btnAtivid {
    top: 2%;
    left: 20%;
  }
  .btnStatusAtiv {
    top: 2%;
    left: 87%;
  }

  .atividadeRef2 {
    position: absolute;
    top: 5%;
    font-family: 'baloo bhaina 2';
    font-weight: 600;
    font-size: clamp(0.1em, 0.1em + 2.5vw, 3em);
    width: 100%;
    border-radius: 10px;
    background-color: white;
    border-style: none;
    border: 1px solid;
  }
}

/* ====================================Fim da tabela atividades======================= */
/* =======================================tela area=============================== */

.fnameArea {
  position: absolute;
  left: 2rem;
  right: 2rem;
  margin-top: 17rem;
  padding-left: 10px;
  background-color: rgb(201, 201, 201);
  font-size: 25px;
  font-family: baloo bhaina2;
  border: none;
  align-items: center;
  color: gray;
  border-radius: 10px;
  height: 50px;
  z-index: 1;
}

.btnCodArea {
  position: absolute;
  top: 5%;
  left: 4%;
}
.btnObserv {
  position: absolute;
  top: 5%;
  left: 13%;
}
.btnGerenResp {
  position: absolute;
  top: 5%;
  left: 22%;
}
.btnLocalArea {
  position: absolute;
  top: 5%;
  left: 52%;
}
.btnMeta {
  position: absolute;
  top: 5%;
  left: 82%;
}
.btnAtivo {
  position: absolute;
  top: 5%;
  left: 92.5%;
}

.tblCodArea {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 4%;
  width: 8rem;
  font: 12px BalooBhaina2-SemiBold;
}
.tblObserv {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 4%;
  width: 8rem;
  font: 12px BalooBhaina2-SemiBold;
}
.tblLocalArea {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  width: 24rem;
  font: 12px BalooBhaina2-SemiBold;
}
.tblGerenResp {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  width: 24rem;
  font: 12px BalooBhaina2-SemiBold;
}
.tblMeta {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 4%;
  width: 8rem;
}
.tblStatusAtivo {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 4%;
  width: 8rem;
}
/* =======================================fim da tabela Area=========================== */

/* ===============================Tela OBservações================================= */

.ObsCod {
  position: absolute;
  font-size: 0.5rem !important;
  top: 5%;
  left: 3%;
}
.ObsObservador {
  position: absolute;

  font-size: 0.5rem !important;
  top: 5%;
  left: 12%;
}
.ObsDescFun {
  position: absolute;
  font-size: 0.5rem !important;
  top: 5%;
  text-align: center;
  left: 26%;
}
.ObsStatus {
  position: absolute;
  font-size: 0.5rem !important;
  top: 5%;
  text-align: center;
  left: 90%;
}

/*
tr:nth-child(even) {
  background-color: #f2f2f2;
}
 .observacaoRef2 :hover {
  background-color: #ddd;
} */

.btnObsCod {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 3%;
  width: 5rem;
  font: 12px BalooBhaina2-SemiBold;
}
.btnObs {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 5%;
  width: 10rem;
}
.BtnDescFun {
  padding-bottom: 1%;
  padding-left: 2%;
  padding-top: 1%;
  width: 38rem;
  font: 12px BalooBhaina2-SemiBold;
}
.btnStatus {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 5%;
  width: 8rem;
}
.AlterarInfo {
  position: relative;
  display: flex;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
  margin-top: -8%;
  left: 90%;

  height: 4vmin;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .cod {
    top: 2%;
    left: 5%;
  }
  .Obs {
    top: 2%;
    left: 20%;
  }
  .DescFun {
    top: 2%;
    left: 42%;
    width: 30%;
  }
  .status {
    top: 2%;
    left: 87%;
  }
}

/* ===============================Fim da Tela OBservações================================= */
