/* ============================================tela unidade======================================================== */
.tblCodUni {
  padding-left: 1%;
}
.tblUni {
  padding-left: 35%;
}
.tblStatusUnidades {
  padding-left: 1%;
}
.btnCod {
  width: 5rem;
  font-size: clamp(0.1em, 0.1em + 1vw, 1em);
  font-family: BalooBhaina2-SemiBold;
}
.btnUni {
  width: 80rem;
  font-size: clamp(0.1em, 0.1em + 1vw, 1em);
  font-family: BalooBhaina2-SemiBold;
}
.btnStatusUnidades {
  width: 5rem;
}
/* =======================================Fim da tela unidade===================== */
/* =======================================tabela Pessoas========================== */
.ttlPessoacod {
  padding-left: 1%;
}
.ttlPessoaObservador {
  padding-left: 8%;
}
.tttPessoalogin {
  padding-left: 8%;
}
.ttlPessoaFuncao {
  padding-left: 5%;
}
.ttlPessoaMetas {
  padding-left: 1%;
}
.tblPesCod {
  width: 5rem;
}
.tblPesOBS {
  width: 28rem;
}
.tblPesMail {
  width: 20rem;
}
.tblPesFunc {
  width: 14rem;
}
.tblPesMetas {
  width: 9rem;
}
/* =======================================Fim da tabela Pessoas=================== */
/* ==========================================tabela Equipes======================= */
.tblTtlcodEquipe {
  padding-left: 1%;
}
.tblTtlequipDesc {
  padding-left: 4%;
}
.tblTtlEquipGer {
  padding-left: 2%;
}
.tblTtlEquipCLient {
  padding-left: 8%;
}
.tblTtlEquipState {
  padding-left: 1%;
}
.tblEquipesCod {
  width: 4rem;
}
.tblEquipesOBS {
  width: 20rem;
}
.tblEquipesMail {
  width: 20rem;
}
.tblEquipesFunc {
  width: 20rem;
}
.tblEquipesMetas {
  width: 7rem;
}

/* ====================================Fim da tabela Equipes======================= */
/* ==================================== tabela Gerências======================= */
.tblTtlCod {
  padding-left: 1%;
}
.tblTtlDescGeren {
  padding-left: 10%;
}
.tblTtlUnidGer {
  padding-left: 13%;
}
.tblTtlStatusGerencia {
  padding-left: 1%;
}
.tblGerCod {
  width: 4rem;
}
.tblGerDesc {
  width: 25rem;
}
.tblGerUni {
  width: 25rem;
}
.tblGerStatus {
  width: 6rem;
}

/* ====================================Fim da tabela Gerências======================= */
/* ====================================tabela atividades======================= */
.btnCodAtivid {
  padding-left: 1%;
}
.btnAtivid {
  padding-left: 1%;
}
.btnStatusAtiv {
  padding-left: 1%;
}
.tblCodAtivid {
  width: 10rem;
}
.tblCodAtivid {
  width: 5rem;
}
.tblAtivid {
  padding-right: 40%;
  width: 80rem;
}
.tblStatusAtivid {
  width: 10rem;
}

/* ====================================Fim da tabela atividades======================= */
/* <br> */
/* =======================================tela area=============================== */

/* =================================configuração de chebox=========================================== */

.container .checkmark:after {
  left: 30%;
  top: 5%;
  width: 3px;
  height: 6px;
  border: solid black;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.container {
  display: flex;
  position: relative;
  margin-bottom: 20px;
  margin-left: 0px;
  padding-left: 10px;
  padding-right: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  width: 14px;
  background-color: #fff;
  border: solid 1px black;
  transition: 0.5s;
  border-radius: 15px;
}
/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #fff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}
/* =================================configuração de chebox=========================================== */
/* ========header========= */
.btnCodArea {
  padding-left: 1%;
}
.btnObserv {
  padding-left: 2%;
}
.btnGerenResp {
  padding-left: 3%;
}
.btnLocalArea {
  padding-left: 8%;
}
.btnMeta {
  padding-left: 1%;
}
.btnAtivo {
  padding-left: 1%;
}
/* ==========conteudo da tabela========= */
.tblCodArea {
  width: 4rem;
}
.tblObserv {
  width: 8rem;
}
.tblLocalArea {
  width: 24rem;
}
.tblGerenResp {
  width: 24rem;
}
.tblMeta {
  padding-top: 1%;
  width: 4rem;
}
.tblStatusAtivo {
  padding-top: 1%;
  width: 4rem;
}
/* =======================================fim da tabela Area=========================== */

/* ===============================Tela OBservações================================= */
.ObsCod {
  padding-left: 1%;
}
.ObsObservador {
  padding-left: 1%;
}
.ObsDescFun {
  padding-left: 21%;
}
.ObsStatus {
  padding-left: 1%;
}
.btnObsCod {
  width: 4rem;
}
.btnObs {
  width: 10rem;
}
.BtnDescFun {
  width: 42rem;
}
.btnStatus {
  width: 4rem;
  padding-top: 1%;
}

/* ===============================Fim da Tela OBservações================================= */
