/*-------------Conteudo da tabela-----------------*/
.tblActivPadrao6 {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: BalooBhaina2-SemiBold;
  font-size: clamp(0.1em, 0.1em + 1vw, 1em);
  width: 3rem;
}
.tblActivPadrao7 {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 10rem;
}
.tblActivPadrao8 {
  justify-content: center;
  align-items: center;
  padding: 2%;
  justify-content: center;
  font-family: BalooBhaina2-Medium;
  font-size: clamp(0.1em, 0.1em + 0.8vw, 0.8em);
  letter-spacing: 0.5px;
  line-height: 18px;
  width: 25rem;
}
.tblActivPadrao9 {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: BalooBhaina2-SemiBold;
  font-size: clamp(0.1em, 0.1em + 1vw, 1em);
  width: 4rem;
}

.tblActivPadrao10 {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 4rem;
}
@media screen and (max-width: 820px) {
  /*-------------Conteudo da tabela-----------------*/
  .tblActivPadrao6 {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: BalooBhaina2-SemiBold;
    font-size: clamp(0.1em, 0.1em + 1vw, 1em);
    width: 5rem;
  }
  .tblActivPadrao7 {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 12rem;
  }
  .tblActivPadrao8 {
    justify-content: center;
    align-items: center;
    padding: 2%;
    justify-content: center;
    font-family: BalooBhaina2-SemiBold;
    font-size: clamp(0.1em, 0.1em + 1vw, 1em);
    letter-spacing: 0.5px;
    line-height: 18px;
    width: 35rem;
  }
  .tblActivPadrao9 {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 5rem;
  }

  .tblActivPadrao10 {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 4rem;
  }
}
@media screen and (max-width: 620px) {
  /*-------------Conteudo da tabela-----------------*/
  .tblActivPadrao6 {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: BalooBhaina2-SemiBold;
    font-size: clamp(0.5em, 0.5em + 1vw, 1em);
    width: 5rem;
  }
  .tblActivPadrao7 {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 12rem;
  }
  .tblActivPadrao8 {
    justify-content: center;
    align-items: center;
    padding: 2%;
    justify-content: center;
    font-family: BalooBhaina2-SemiBold;
    font-size: clamp(0.2em, 0.2em + 1.5vw, 1.5em);
    letter-spacing: 0.5px;
    line-height: 14px;
    width: 30rem;
  }
  .tblActivPadrao9 {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: BalooBhaina2-SemiBold;
    font-size: clamp(0.5em, 0.5em + 1vw, 1em);
    width: 6rem;
  }

  .tblActivPadrao10 {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 6rem;
  }
}
