.tblActivPadrao1 {
  position: absolute;
  font: 16px BalooBhaina2-SemiBold;
  top: 5%;
  left: 2%;
}
.tblActivPadrao2 {
  position: absolute;
  font: 16px BalooBhaina2-SemiBold;
  top: 5%;
  left: 10%;
}
.tblActivPadrao3 {
  position: absolute;
  font: 16px BalooBhaina2-SemiBold;
  top: 5%;
  left: 40%;
}

.tblActivPadrao4 {
  position: absolute;
  font: 16px BalooBhaina2-SemiBold;
  top: 5%;
  left: 84%;
}

.tblActivPadrao5 {
  position: absolute;
  font: 16px BalooBhaina2-SemiBold;
  top: 5%;
  left: 92%;
}

/*-------------Conteudo da tabela-----------------*/
.tblActivPadrao6 {
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  font: 12px BalooBhaina2-SemiBold;
  width: 5rem;
}
.tblActivPadrao7 {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  font: 12px BalooBhaina2-SemiBold;
  width: 16rem;
}
.tblActivPadrao8 {
  padding-top: 1%;
  padding-bottom: 1%;
  justify-content: center;
  font: 12px BalooBhaina2-SemiBold;
  padding-left: 2%;
  padding-right: 2%;
  width: 25rem;
}
.tblActivPadrao9 {
  padding-top: 1%;
  padding-bottom: 1%;
  font: 12px BalooBhaina2-SemiBold;
  padding-left: 3%;
  width: 5rem;
}

.tblActivPadrao10 {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 3%;
  width: 5rem;
}
