/* ------------------conteúdo da tabela---------------- */
.btnSubTipObsCod {
  width: 12rem;
  font-family: BalooBhaina2-SemiBold;
  font-size: clamp(0.01em, 0.01em + 0.8vw, 0.8em);
}
.GroupTipObs {
  cursor: pointer;
  margin-left: 6%;
}
.btnSubTipObsQualiObs {
  width: 15rem;
  font-family: BalooBhaina2-SemiBold;
  font-size: clamp(0.01em, 0.01em + 0.8vw, 0.8em);
}
.btnPageGroupQuest {
  width: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: BalooBhaina2-SemiBold;
  font-size: clamp(0.01em, 0.01em + 1vw, 1em);
}
.btnSubTipObsfator1 {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 5rem;
  font-family: BalooBhaina2-SemiBold;
  font-size: clamp(0.01em, 0.01em + 0.7vw, 0.7em);
}
.btnSubTipObsfator2 {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 5rem;
  font-family: BalooBhaina2-SemiBold;
  font-size: clamp(0.01em, 0.01em + 0.7vw, 0.7em);
}

.btnSubTipObsfatorN {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 5rem;
  font-family: BalooBhaina2-SemiBold;
  font-size: clamp(0.01em, 0.01em + 0.7vw, 0.7em);
}
.btnSubTipObsPermissao {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 8rem;
  font-family: BalooBhaina2-SemiBold;
  font-size: clamp(0.01em, 0.01em + 0.7vw, 0.7em);
}
.btnSubTipObsAtivo {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 3rem;
}

@media screen and (max-width: 820px) {
  /* ------------------conteúdo da tabela---------------- */
  .btnSubTipObsCod {
    width: 12rem;
    font-size: clamp(0.01em, 0.01em + 0.9vw, 1em);
    top: 10%;
  }
  .GroupTipObs {
    cursor: pointer;
    margin-left: 5%;
  }
  .btnPageGroupQuest {
    width: 100%;
    background-color: transparent;
    border: none;
    font-family: BalooBhaina2-SemiBold;
    font-size: clamp(0.01em, 0.01em + 0.9vw, 1em);
  }
  .btnSubTipObsQualiObs {
    width: 16rem;
    font-family: BalooBhaina2-SemiBold;
    font-size: clamp(0.01em, 0.01em + 0.9vw, 1em);
  }
  .btnSubTipObsfator1 {
    width: 6rem;
    font-family: BalooBhaina2-SemiBold;
    font-size: clamp(0.01em, 0.01em + 1.5vw, 1.5em);
  }
  .btnSubTipObsfator2 {
    width: 6rem;
    font-family: BalooBhaina2-SemiBold;
    font-size: clamp(0.01em, 0.01em + 1.5vw, 1.5em);
  }

  .btnSubTipObsfatorN {
    width: 6rem;
    font-family: BalooBhaina2-SemiBold;
    font-size: clamp(0.01em, 0.01em + 1.5vw, 1.5em);
  }
  .btnSubTipObsPermissao {
    width: 10rem;
    font-family: BalooBhaina2-SemiBold;
    font-size: clamp(0.01em, 0.01em + 1.5vw, 1.5em);
  }
  .btnSubTipObsAtivo {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 5rem;
  }
}

@media screen and (max-width: 620px) {
  /* ------------------conteúdo da tabela---------------- */
  .btnSubTipObsCod {
    width: 13rem;
    font-size: clamp(0.1em, 0.1em + 0.7vw, 0.7em);
  }
  .btnPageGroupQuest {
    width: 100%;
    background-color: transparent;
    border: none;
    font-size: clamp(0.1em, 0.1em + 1.5vw, 1.5em);
  }
  .GroupTipObs {
    cursor: pointer;
    margin-left: 5%;
    margin-right: 1%;
  }
  .btnSubTipObsQualiObs {
    width: 16rem;
    font-family: BalooBhaina2-SemiBold;
    font-size: clamp(0.1em, 0.1em + 1.5vw, 1.5em);
  }
  .btnSubTipObsfator1 {
    width: 6rem;
    font-family: BalooBhaina2-SemiBold;
    font-size: clamp(0.1em, 0.1em + 1.5vw, 1.5em);
  }
  .btnSubTipObsfator2 {
    width: 6rem;
    font-family: BalooBhaina2-SemiBold;
    font-size: clamp(0.1em, 0.1em + 1.5vw, 1.5em);
  }

  .btnSubTipObsfatorN {
    width: 6rem;
    font-family: BalooBhaina2-SemiBold;
    font-size: clamp(0.1em, 0.1em + 1.5vw, 1.5em);
  }
  .btnSubTipObsPermissao {
    width: 10rem;
    font-family: BalooBhaina2-SemiBold;
    font-size: clamp(0.1em, 0.1em + 1.5vw, 1.5em);
  }
  .btnSubTipObsAtivo {
    width: 5rem;
  }
}
