.tblPermitir {
  line-height: 120%;
}
/* ------------------conteúdo da tabela---------------- */
.btnSubTipObsCod {
  width: 12rem;
  font-family: BalooBhaina2-SemiBold;
  font-size: clamp(0.01em, 0.01em + 0.8vw, 0.8em);
}
.GroupTipObs {
  cursor: pointer;
  margin-left: 6%;
}
.btnSubTipObsQualiObs {
  width: 15rem;
  font-family: BalooBhaina2-SemiBold;
}
.btnPageGroupQuest {
  width: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: BalooBhaina2-SemiBold;
  font-size: clamp(0.01em, 0.01em + 0.8vw, 0.8em);
}
.btnSubTipObsfator1 {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 5rem;
  font-size: clamp(0.1em, 0.1em + 1vw, 1em);
  font-family: BalooBhaina2-SemiBold;
}
.btnSubTipObsfator2 {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 5rem;
  font-size: clamp(0.1em, 0.1em + 1vw, 1em);
  font-family: BalooBhaina2-SemiBold;
}

.btnSubTipObsfatorN {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 5rem;
  font-size: clamp(0.1em, 0.1em + 1vw, 1em);
  font-family: BalooBhaina2-SemiBold;
}
.btnSubTipObsPermissao {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 8rem;
  font-size: clamp(0.1em, 0.1em + 1vw, 1em);
  font-family: BalooBhaina2-SemiBold;
}
.btnSubTipObsAtivo {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 3rem;
}

@media screen and (max-width: 820px) {
  /* ------------------conteúdo da tabela---------------- */
  .btnSubTipObsCod {
    width: 15rem;
    font-size: clamp(0.01em, 0.01em + 0.9vw, 1em);
    top: 10%;
  }
  .GroupTipObs {
    cursor: pointer;
    margin-left: 5%;
  }
  .btnPageGroupQuest {
    width: 8rem;
    background-color: transparent;
    border: none;
    font-family: BalooBhaina2-SemiBold;
    font-size: clamp(0.01em, 0.01em + 0.9vw, 1em);
  }
  .btnSubTipObsQualiObs {
    width: 10rem;
    font-family: BalooBhaina2-SemiBold;
  }
  .btnSubTipObsfator1 {
    width: 8rem;
    font-family: BalooBhaina2-SemiBold;
    font-size: clamp(0.1em, 0.1em + 1.2vw, 1.2em);
  }
  .btnSubTipObsfator2 {
    width: 8rem;
    font-family: BalooBhaina2-SemiBold;
    font-size: clamp(0.1em, 0.1em + 1.2vw, 1.2em);
  }

  .btnSubTipObsfatorN {
    width: 8rem;
    font-family: BalooBhaina2-SemiBold;
    font-size: clamp(0.1em, 0.1em + 1.2vw, 1.2em);
  }
  .btnSubTipObsPermissao {
    width: 10rem;
    font-family: BalooBhaina2-SemiBold;
    font-size: clamp(0.1em, 0.1em + 1.2vw, 1.2em);
  }
  .btnSubTipObsAtivo {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 1rem;
  }
}

@media screen and (max-width: 620px) {
  /* ------------------conteúdo da tabela---------------- */

  .btnSubTipObsCod {
    width: 10rem;
    font-size: clamp(0.1em, 0.1em + 1.2vw, 1.2em);
  }
  .btnPageGroupQuest {
    background-color: transparent;
    border: none;
    font-size: clamp(0.1em, 0.1em + 1.2vw, 1.2em);
  }
  .btnSubTipObsQualiObs {
    width: 8rem;
    font-family: BalooBhaina2-SemiBold;
  }
  .btnSubTipObsfator1 {
    width: 4rem;
    font-family: BalooBhaina2-SemiBold;
  }
  .btnSubTipObsfator2 {
    width: 4rem;
    font-family: BalooBhaina2-SemiBold;
  }

  .btnSubTipObsfatorN {
    width: 4rem;
    font-family: BalooBhaina2-SemiBold;
  }
  .btnSubTipObsPermissao {
    width: 6rem;
    font-family: BalooBhaina2-SemiBold;
  }
  .btnSubTipObsAtivo {
    width: 2rem;
  }
}
