body.active-AlterarRegistroEmpresas {
  overflow-y: hidden;
}

.AlterarRegistroEmpresas,
.overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 2;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}

.AlterarRegistroEmpresas-content {
  position: fixed;
  top: 15%;
  left: 20%;
  background: #f1f1f1;
  width: 60%;
  height: 70%;
  border-radius: 20px;
  z-index: 2;
}

.fNomeFantasiaEmpresa {
  position: relative;
  top: 18%;
  left: 5%;
  padding-left: 2%;
  width: 60%;
  border-radius: 5px;
  justify-content: center;
  font: 14px BalooBhaina2-Medium;
  border: none;
  background-color: rgb(190, 190, 190);
  color: black;
  padding-top: 5px;
  padding-left: 2%;
}
.fRazãoSocialEmpresa {
  position: relative;
  top: 20%;
  left: 5%;
  padding-left: 2%;
  width: 60%;
  border-radius: 5px;
  justify-content: center;
  border: none;
  background-color: rgb(190, 190, 190);
  color: black;
  font: 14px BalooBhaina2-Medium;
  padding-top: 5px;
  padding-left: 2%;
}
.fSelectTipEmpresa {
  position: relative;
  top: 22%;
  left: 5%;
  padding-left: 2%;
  width: 60%;
  border-radius: 5px;
  justify-content: center;
  font: 14px BalooBhaina2-Medium;
  border: none;
  background-color: rgb(190, 190, 190);
  color: black;
  padding-left: 1%;
}
.fCNPJEmpresa {
  position: relative;
  top: 24%;
  left: 5%;
  padding-left: 2%;
  width: 60%;
  border-radius: 5px;
  justify-content: center;
  border: none;
  background-color: rgb(190, 190, 190);
  color: black;
  font: 14px BalooBhaina2-Medium;
  padding-top: 5px;
}
.fInscEst {
  position: relative;
  top: 26%;
  left: 5%;
  padding-left: 2%;
  width: 60%;
  border-radius: 5px;
  justify-content: center;
  border: none;
  background-color: rgb(190, 190, 190);
  color: black;
  font: 14px BalooBhaina2-Medium;
  padding-top: 5px;
}
.fObsEmpresa {
  position: relative;
  top: 28%;
  left: 5%;
  padding-left: 2%;
  width: 90%;
  height: 20%;
  border-radius: 5px;
  justify-content: center;
  border: none;
  background-color: rgb(190, 190, 190);
  color: black;
  font: 14px BalooBhaina2-Medium;
  padding-top: 5px;
}
.form-group {
  text-align: center;
  position: absolute;
  top: 18%;
  left: 60%;
  width: 40%;
  font-size: 1em;
  height: 25%;
}
.btn-AlterarInfo {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.imgProfileEmpresa {
  position: absolute;
}
.imgProfile {
  width: 150px;
  height: 150px;
}
.form-control-file {
  position: fixed;
  left: 60%;
  top: 52%;
  font-size: 1.1rem;
}
@media screen and (max-width: 1024px) {
  .close-AlterarRegistroEmpresas {
    display: none;
  }

  .AlterarRegistroEmpresas,
  .overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 3;
  }

  .AlterarRegistroEmpresas-content {
    position: absolute;
    top: 25%;
    left: 5%;
    background: #f1f1f1;
    width: 90%;
    height: 700px;
    border-radius: 20px;
    z-index: 3;
  }

  .fNomeFantasiaEmpresa {
    position: relative;
    top: 18%;
    left: 5%;
    padding-left: 2%;
    width: 40%;
    height: 35px;
    border-radius: 5px;
    justify-content: center;
    border: none;
    background-color: rgb(190, 190, 190);
    font: 24px BalooBhaina2-Medium;
    padding-top: 5px;
    padding-left: 2%;
  }
  .fRazãoSocialEmpresa {
    position: relative;
    top: 19%;
    left: 5%;
    padding-left: 2%;
    width: 40%;
    height: 35px;
    border-radius: 5px;
    justify-content: center;
    font: 24px BalooBhaina2-Medium;
    border: none;
    background-color: rgb(190, 190, 190);
    color: black;
    padding-top: 5px;
    padding-left: 2%;
  }
  .fSelectTipEmpresa {
    position: relative;
    top: 25%;
    left: -35%;
    width: 40%;
    height: 35px;
    padding-left: 1.5%;
    border-radius: 5px;
    justify-content: center;
    border: none;
    font: 20px BalooBhaina2-Medium;
    background-color: rgb(190, 190, 190);
    color: black;
  }
  .fCNPJEmpresa {
    position: relative;
    top: 26%;
    left: 5%;
    padding-left: 2%;
    width: 40%;
    height: 35px;
    border-radius: 5px;
    justify-content: center;
    border: none;
    background-color: rgb(190, 190, 190);
    font: 24px BalooBhaina2-Medium;
    font-weight: 500;
    padding-top: 5px;
  }
  .fInscEst {
    position: relative;
    top: 32%;
    left: -35%;
    padding-left: 2%;
    width: 40%;
    height: 35px;
    border-radius: 5px;
    justify-content: center;
    border: none;
    background-color: rgb(190, 190, 190);
    color: black;
    font: 24px BalooBhaina2-Medium;
    padding-top: 5px;
  }
  .fObsEmpresa {
    position: relative;
    top: 35%;
    left: 5%;
    padding-left: 2%;
    width: 90%;
    height: 200px;
    border-radius: 5px;
    justify-content: center;
    border: none;
    background-color: rgb(190, 190, 190);
    color: black;
    font: 24px BalooBhaina2-Medium;
    padding-top: 5px;
  }
  .form-group {
    text-align: center;
    position: absolute;
    top: 16%;
    left: 50%;
    width: 40%;
    font-size: 1em;
    height: 25%;
  }
  .btn-AlterarInfo {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .imgProfileEmpresa {
    position: absolute;
    border-radius: 50px;
  }
  .imgProfile {
    width: 180px;
    height: 180px;
  }
  .form-control-file {
    position: fixed;
    left: 48%;
    letter-spacing: -0.5px;
    top: 48%;
    font-size: 2rem;
  }
}
@media screen and (max-width: 780px) {
  .close-AlterarRegistroEmpresas {
    display: none;
  }

  .AlterarRegistroEmpresas,
  .overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 3;
  }

  .AlterarRegistroEmpresas-content {
    position: absolute;
    top: 25%;
    left: 5%;
    background: #f1f1f1;
    width: 90%;
    height: 600px;
    border-radius: 20px;
    z-index: 3;
  }

  .fNomeFantasiaEmpresa {
    position: relative;
    top: 18%;
    left: 5%;
    padding-left: 2%;
    width: 40%;
    height: 35px;
    border-radius: 5px;
    justify-content: center;
    border: none;
    background-color: rgb(190, 190, 190);
    color: black;
    font: 20px BalooBhaina2-Medium;
    padding-top: 5px;
    padding-left: 2%;
  }
  .fRazãoSocialEmpresa {
    position: relative;
    top: 19%;
    left: 5%;
    padding-left: 2%;
    width: 40%;
    height: 35px;
    border-radius: 5px;
    justify-content: center;
    border: none;
    background-color: rgb(190, 190, 190);
    color: black;
    font: 20px BalooBhaina2-Medium;
    padding-top: 5px;
    padding-left: 2%;
  }
  .fSelectTipEmpresa {
    position: relative;
    top: 25%;
    left: -35%;
    width: 40%;
    height: 35px;
    border-radius: 5px;
    justify-content: center;
    border: none;
    font: 16px BalooBhaina2-Medium;
    background-color: rgb(190, 190, 190);
    color: black;
  }
  .fCNPJEmpresa {
    position: relative;
    top: 26%;
    left: 5%;
    padding-left: 2%;
    width: 40%;
    height: 35px;
    border-radius: 5px;
    justify-content: center;
    border: none;
    background-color: rgb(190, 190, 190);
    color: black;
    font: 20px BalooBhaina2-Medium;
    padding-top: 5px;
  }
  .fInscEst {
    position: relative;
    top: 33%;
    left: -35%;
    padding-left: 2%;
    width: 40%;
    height: 35px;
    border-radius: 5px;
    justify-content: center;
    border: none;
    background-color: rgb(190, 190, 190);
    color: black;
    font: 20px BalooBhaina2-Medium;
    padding-top: 5px;
  }
  .fObsEmpresa {
    position: relative;
    top: 35%;
    left: 5%;
    padding-left: 2%;
    width: 90%;
    height: 150px;
    border-radius: 5px;
    justify-content: center;
    border: none;
    background-color: rgb(190, 190, 190);
    color: black;
    font: 20px BalooBhaina2-Medium;
    padding-top: 5px;
  }
  .form-group {
    text-align: center;
    position: absolute;
    top: 16%;
    left: 50%;
    width: 40%;
    font-size: 1em;
    height: 25%;
  }
  .btn-AlterarInfo {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .imgProfileEmpresa {
    position: absolute;
    border-radius: 50px;
  }
  .imgProfile {
    width: 150px;
    height: 150px;
  }
  .form-control-file {
    position: fixed;
    left: 48%;
    letter-spacing: -0.5px;
    top: 52%;
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 500px) {
  .close-AlterarRegistroEmpresas {
    display: none;
  }

  .AlterarRegistroEmpresas,
  .overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 3;
  }

  .AlterarRegistroEmpresas-content {
    position: absolute;
    top: 25%;
    left: 5%;
    background: #f1f1f1;
    width: 90%;
    height: 60%;
    border-radius: 20px;
    z-index: 3;
  }

  .fNomeFantasiaEmpresa {
    position: relative;
    top: 22%;
    left: 5%;
    padding-left: 2%;
    width: 40%;
    height: 20px;
    border-radius: 5px;
    justify-content: center;
    border: none;
    background-color: rgb(190, 190, 190);
    color: black;
    font: 10px BalooBhaina2-Medium;
    padding-top: 5px;
    padding-left: 2%;
  }
  .fRazãoSocialEmpresa {
    position: relative;
    top: 24%;
    left: 5%;
    padding-left: 2%;
    width: 40%;
    height: 20px;
    border-radius: 5px;
    justify-content: center;
    border: none;
    background-color: rgb(190, 190, 190);
    color: black;
    font: 10px BalooBhaina2-Medium;
    padding-top: 5px;
    padding-left: 2%;
  }
  .fSelectTipEmpresa {
    position: relative;
    top: 30%;
    left: -35%;
    width: 40%;
    height: 20px;
    border-radius: 5px;
    justify-content: center;
    border: none;
    font: 8px BalooBhaina2-Medium;
    background-color: rgb(190, 190, 190);
    color: black;
  }
  .fCNPJEmpresa {
    position: relative;
    top: 32%;
    left: 5%;
    padding-left: 2%;
    width: 40%;
    height: 20px;
    border-radius: 5px;
    justify-content: center;
    border: none;
    background-color: rgb(190, 190, 190);
    color: black;
    font: 10px BalooBhaina2-Medium;
    padding-top: 5px;
  }
  .fInscEst {
    position: relative;
    top: 38%;
    left: -35%;
    padding-left: 2%;
    width: 40%;
    height: 20px;
    border-radius: 5px;
    justify-content: center;
    border: none;
    background-color: rgb(190, 190, 190);
    color: black;
    font: 10px BalooBhaina2-Medium;
    padding-top: 5px;
  }
  .fObsEmpresa {
    position: relative;
    top: 40%;
    left: 5%;
    padding-left: 2%;
    width: 90%;
    height: 25%;
    border-radius: 5px;
    justify-content: center;
    border: none;
    background-color: rgb(190, 190, 190);
    color: black;
    font: 10px BalooBhaina2-Medium;
    padding-top: 5px;
  }
  .form-group {
    text-align: center;
    position: absolute;
    top: 22%;
    left: 50%;
    width: 40%;
    font-size: 1em;
    height: 25%;
  }
  .btn-AlterarInfo {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .imgProfileEmpresa {
    position: absolute;
    border-radius: 50px;
  }
  .imgProfile {
    width: 100px;
    height: 100px;
  }
  .form-control-file {
    position: fixed;
    left: 50%;
    letter-spacing: -0.5px;
    top: 54%;
    font-size: 0.7rem;
  }
}

@media screen and (max-height: 640px) {
  .close-AlterarRegistroEmpresas {
    display: none;
  }

  .AlterarRegistroEmpresas,
  .overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 3;
  }

  .AlterarRegistroEmpresas-content {
    position: absolute;
    top: 25%;
    left: 5%;
    background: #f1f1f1;
    width: 90%;
    height: 60%;
    border-radius: 20px;
    z-index: 3;
  }

  .fNomeFantasiaEmpresa {
    position: relative;
    top: 22%;
    left: 5%;
    padding-left: 2%;
    width: 40%;
    height: 20px;
    border-radius: 5px;
    justify-content: center;
    border: none;
    background-color: rgb(190, 190, 190);
    color: black;
    font: 10px BalooBhaina2-Medium;
    padding-top: 5px;
    padding-left: 2%;
  }
  .fRazãoSocialEmpresa {
    position: relative;
    top: 24%;
    left: 5%;
    padding-left: 2%;
    width: 40%;
    height: 20px;
    border-radius: 5px;
    justify-content: center;
    border: none;
    background-color: rgb(190, 190, 190);
    color: black;
    font: 10px BalooBhaina2-Medium;
    padding-top: 5px;
    padding-left: 2%;
  }
  .fSelectTipEmpresa {
    position: relative;
    top: 30%;
    left: -35%;
    width: 40%;
    height: 20px;
    border-radius: 5px;
    justify-content: center;
    border: none;
    font: 8px BalooBhaina2-Medium;
    background-color: rgb(190, 190, 190);
    color: black;
  }
  .fCNPJEmpresa {
    position: relative;
    top: 32%;
    left: 5%;
    padding-left: 2%;
    width: 40%;
    height: 20px;
    border-radius: 5px;
    justify-content: center;
    border: none;
    background-color: rgb(190, 190, 190);
    color: black;
    font: 10px BalooBhaina2-Medium;
    padding-top: 5px;
  }
  .fInscEst {
    position: relative;
    top: 38%;
    left: -35%;
    padding-left: 2%;
    width: 40%;
    height: 20px;
    border-radius: 5px;
    justify-content: center;
    border: none;
    background-color: rgb(190, 190, 190);
    color: black;
    font: 10px BalooBhaina2-Medium;
    padding-top: 5px;
  }
  .fObsEmpresa {
    position: relative;
    top: 40%;
    left: 5%;
    padding-left: 2%;
    width: 90%;
    height: 25%;
    border-radius: 5px;
    justify-content: center;
    border: none;
    background-color: rgb(190, 190, 190);
    color: black;
    font: 10px BalooBhaina2-Medium;
    padding-top: 5px;
  }
  .form-group {
    text-align: center;
    position: absolute;
    top: 22%;
    left: 50%;
    width: 40%;
    font-size: 1em;
    height: 25%;
  }
  .btn-AlterarInfo {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .imgProfileEmpresa {
    position: absolute;
    border-radius: 50px;
  }
  .imgProfile {
    width: 100px;
    height: 100px;
  }
  .form-control-file {
    position: fixed;
    left: 50%;
    letter-spacing: -0.5px;
    top: 55%;
    font-size: 0.7rem;
  }
}
