/*-------------Conteudo da tabela-----------------*/
.btnSubCod {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 6rem;
}
.btnSubOBS {
  width: 25rem;
}
.btnSubMail {
  width: 25rem;
}
.btnSubMetas {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 4rem;
}
.btnSMPMetas {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.btnSubAtivo {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 4rem;
}
