/* ==================================Fundo do login================================== */
.login {
  position: fixed;
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(
    rgb(34, 53, 88) 0%,
    rgb(27, 44, 75) 35%,
    rgb(15, 30, 56) 70%,
    rgb(11, 24, 46) 100%
  );
}

.bg1 {
  background: url('/src/Images/logoIniciativa2x.png');
  height: 100vh;
  width: 100%;
  position: fixed;
  background-size: 18%;
  background-position: 49% 92%;
  background-repeat: no-repeat;
  z-index: 1;
  transition: 0.5s;
}
.bg2 {
  background: url('/src/Images/logoMeuCptoVertBranco2x.png');
  height: 100vh;
  width: 100%;
  position: fixed;
  background-size: 7%;
  background-position: 15% 50%;
  background-repeat: no-repeat;
  transition: 0.5s;
}
.bg3 {
  background: url('/src/Images/logoQ.png');
  height: 100vh;
  width: 100%;
  position: fixed;
  background-size: 57%;
  background-position: 134% 62%;
  background-repeat: no-repeat;
  transition: 0.5s;
}
/* =====================================caixa de login============================================ */
.login-right {
  z-index: 1;
  background-color: white;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 280px;
}

.login-right h3 {
  position: fixed;
  margin-top: -190px;
  width: 44%;
  font: 1.2rem BalooBhaina2-SemiBold;
  color: #0b9e82;
  justify-content: center;
  text-align: center;
  line-height: 25px;
}
.hrLogin {
  justify-content: center;
  text-align: center;

  margin-top: -140px;
  position: absolute;
  width: 350px;
  height: 3px;
  border: none;
  background-image: linear-gradient(
    90deg,
    transparent,
    rgb(197, 197, 197),
    transparent
  );
  z-index: 99;
}
.login-loginEmail input::-webkit-input-placeholder {
  font-family: BalooBhaina2-SemiBold;
  font-size: 16px;
}
.login-loginEmail input {
  background-color: #dad8d8;
  color: #000000;
  position: absolute;
  justify-content: center;
  text-align: left;
  display: flex;
  border: none;
  font-family: BalooBhaina2-SemiBold;
  font-size: 14px;
  border-radius: 5px;
  transition: color 0.2s ease-in-out;
  width: 270px;
  height: 35px;
  margin-top: -40px;
  margin-left: -140px;
  padding-top: 0.5%;
  padding-left: 1%;
}

.login-loginPassword input::-webkit-input-placeholder {
  font-family: BalooBhaina2-SemiBold;
  font-size: 16px;
}
.login-loginPassword input {
  background-color: #dad8d8;
  color: #000000;
  position: absolute;
  justify-content: center;
  text-align: left;
  display: flex;
  border: none;
  font-family: BalooBhaina2-SemiBold;
  font-size: 16px;
  border-radius: 5px;
  transition: color 0.2s ease-in-out;
  width: 270px;
  height: 35px;
  margin-top: 0px;
  margin-left: -140px;
  padding-top: 0.5%;
  padding-left: 1%;
}

.enter-app {
  background-color: #172d52;
  color: white;
  position: absolute;
  display: flex;
  border: none;
  font-family: BalooBhaina2-SemiBold;
  font-size: 16px;
  border-radius: 5px;
  transition: color 0.2s ease-in-out;
  width: 270px;
  height: 35px;
  margin-top: 40px;
  margin-left: -140px;
  padding-top: 0.3%;
  padding-left: 1%;
}
.login-right button:hover {
  cursor: pointer;
}

.login-right .recordPassword {
  color: #41606c;
  background-color: transparent;
  position: absolute;

  font: 10px baloobhaina2-SemiBold;

  display: flex;
  border: none;

  justify-content: center;
  align-items: center;

  gap: 5px;
  width: 100px;
  height: 15px;
  margin-top: 180px;
  margin-left: -180px;
  cursor: pointer;
}
.checkBoxMemorizer {
  position: relative;
  display: flex;

  border: none;

  gap: 10px;
  margin-top: 0px;
  cursor: pointer;
}
.spnCheckBox {
  padding-top: 3px;
  margin-left: 0;
}

.btnrecovery {
  color: #41606c;
  background-color: transparent;
  position: absolute;

  font: 10px baloobhaina2-SemiBold;

  display: flex;

  border: none;

  justify-content: center;
  align-items: center;

  gap: 10px;
  width: 100px;

  margin-top: 180px;
  margin-left: 180px;
}

@media screen and (max-width: 620px) {
  .bg1 {
    background: url('/src/Images//logoMeuCptoHorizBranco@2x.png');
    height: 100vh;
    width: 100%;
    position: fixed;
    background-size: 40%;
    background-position: 49% 92%;
    background-repeat: no-repeat;
    z-index: 1;
    transition: 0.5s;
  }
  .bg2 {
    display: none;
    transition: 0.5s;
  }
  .bg3 {
    background: url('/src/Images/logoQ.png');
    height: 100vh;
    width: 100%;
    position: fixed;
    background-size: 90%;
    background-position: top center;
    background-repeat: no-repeat;
    transition: 0.5s;
  }
  .login-right {
    z-index: 1;
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 340px;
    height: 260px;
  }

  .login-right h3 {
    position: fixed;
    margin-top: -190px;
    width: 50%;
    font: clamp(1em, 1em + 0.09vw, 6em) BalooBhaina2-SemiBold;
    color: #0b9e82;
    justify-content: center;
    text-align: center;
    line-height: 20px;
  }
}
